<div class="jumbotron">
  <h1>Hello, {{vm.name}}</h1>

  <div class="row">
    
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Dono</th>
          <th scope="col">Cachorro</th>
          <th scope="col">Idade</th>
        </tr>
      </thead>
      <tbody ng-repeat='dono in vm.donos'>
          <tr ng-repeat='cachorro in dono.cachorros'>
            <td><b>{{$index+1}}</b></td>
            <td>{{dono.nome}}</td>
            <td>{{cachorro.nome}}</td>
            <td>{{cachorro.idade}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>
